.contaier {
    display: grid;
    grid-template-columns: 260px 1fr;
    height: 100vg;
    background-color: var(--color-bg-secondary);
}

.sidebar{
    background-color: var(--color-bg-secondary);
    border-right: 1px solid rgba(0,0,0,0.1);
}